@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');@import url('/styles/reset.css');

:root{
    --primary-color: #2B3233;
    --second-color: #43666B;
    --third-color: #39B0BF;
    --fourth-color: #1A4247;
    --fifth-color: #53B6C9;
    --sixth-color: #458D96;
    --sheet-back-color: #e0dfdf;
    --shadow: 0 4px 15px rgba(0, 0, 0, 1.8);
    --ok-color: green;
    --verify-color: rgb(230, 230, 74);
    --error-color: rgb(247, 60, 60);
    --border-color: #cdcbcb;
    --color-accent: #EB771E;
    --main-font-color: #FFFFFF;
    --second-font-color: #000;
    --main-font: "Montserrat", sans-serif;
    --second-font: "Inter", sans-serif;;
}

body{
    height: 100vh;
    font-size: 24px;
    font-family: var(--main-font);
    color: var(--main-font-color);
}

/*General Header*/

header{
    background-color: var(--third-color);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.logo{
    width: 18rem;
}

.profile__nav{
    width: 6rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
}

.search__bar{
    display: flex;
    justify-content: center;
}

.search__input{
    width: 25rem;
    font-size: 28px;
    padding: 0.5rem 1rem;
    border-radius: 16px 0 0 16px;
    border: 2px solid var(--border-color);
}

.search__input::placeholder{
    font-family: var(--main-font);
    font-weight: 500;
}

.search__bt{
    width: 3rem;
    padding: 0 0.5rem;
    border-radius: 0 16px 16px 0;
    border: 2px solid var(--border-color);
}

.search__lupa{
    width: 100%;
}

.profile__set{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

/*ANIMATIONS*/

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes loading {
  100% {
    rotate: 360deg;
  }
}

@keyframes loading-dots {
  0%   { content: ""; }
  33%  { content: "."; }
  66%  { content: ".."; }
  100% { content: "..."; }
}
