@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');@import url('/styles/reset.css');

:root{
    --primary-color: #2B3233;
    --second-color: #43666B;
    --third-color: #39B0BF;
    --color-accent: #EB771E;
    --main-font-color: #FFFFFF;
    --main-font: "Montserrat", sans-serif;
    --second-font: "Inter", sans-serif;;
}