@import url('styles.css');

body{
    background-color: var(--second-color);
}

.exit__bt{
    background-color: transparent;
    color: var(--main-font-color);
    font-size: 1.5rem;
    border: 3px solid var(--main-font-color);
    border-radius: 32px;
    padding: 0.5rem 2rem;
    cursor: pointer;
    transform: scale(1);
    transition: 0.3s ease-in-out;
}

.exit__bt:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

main{
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 2rem;
    padding: 5rem 4rem;
    margin: 5rem 8rem;
    border-radius: 24px 24px 0 0;
    box-sizing: border-box;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
}

.profile{
    width: 12rem;
}

.container__left, .container__right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.custom__file {
    background-color: var(--third-color);
    color: white;
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1.5rem;
    display: inline-block;
    margin-top: 2rem;
    transform: scale(1);
    transition: 0.3s ease-in-out;
}

.custom__file:hover {
    background-color: #45a049;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.file__input {
    display: none;
}

.input__group{
    display: flex;
    flex-direction: column;
}

.redirect__bt{
    background-color: transparent;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    color: var(--fifth-color);
    font-weight: bold;
    text-decoration: none;
    border: 3px solid var(--fifth-color);
    border-radius: 16px;
}

.redirect__bt:hover{
    background-color: var(--fifth-color);
    color: var(--main-font-color);
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.delete{
    color: var(--error-color);
    border: 3px solid var(--error-color);
    font-size: 24px;
}

.delete:hover{
    background-color: var(--error-color);
}

.container__right label{
    position: absolute;
    background-color: var(--primary-color);
    margin-left: 1.5rem;
    font-size: large;
    padding: 0 0.5rem;
}

.inputs{
    font-family: var(--main-font);
    background-color: transparent;
    color: var(--main-font-color);
    width: 26rem;
    height: 3rem;
    border-radius: 16px;
    border: 3px solid var(--fifth-color);
    padding: 0.3rem 1.5rem;
    font-size: 1.5rem;
    margin: 0.5rem 0 2rem 0;
}

.inputs:focus{
    outline: none;
}

#aboutMe{
    height: 8rem;
    font-family: var(--main-font);
}

.invalid__inputs__text{
    display: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--error-color);
    animation: pulse 2s ease-in-out infinite;
}

.valid__inputs{
    display: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
    animation: pulse 2s ease-in-out infinite;
}

.valid__inputs__text{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--ok-color); 
}

.load{
    width: 5%;
    animation: loading 1s linear infinite;
}

.save__bt{
    background-color: var(--color-accent);
    font-family: var(--second-font);
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--main-font-color);  
    border: none;
    border-radius: 12px;
    padding: 0.5rem 5rem;
    margin-top: 1rem;
    transform: scale(1);
    transition: 0.3s ease-in-out;
}

.save__bt:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}