@import url("writeProject.css");

.container{
    background-color: transparent;
    margin: 0 3rem;
    box-shadow: none;
}

.options__all{
    background-color: var(--primary-color);
    margin-top: 0;
}

.post__details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.actions{
    display: flex;
    gap: 50px;
}

.favComment{
    gap: 6rem;
}

.content__bt{
    background-color: transparent;
    color: var(--third-color);
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 2rem;
    font-family: var(--main-font);
    border: none;
    transition: 0.3s ease-in-out;
}

.content__bt:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.dislike{
    transform: rotateX(180deg);
}

.comments__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    height: 280px;
    overflow: scroll;
    scrollbar-width: none;
}

.comment{
    background-color: var(--comment-background);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: .5rem;
    border-radius: 16px;
    gap: 20px;
    margin-bottom: 2rem;
}

.comment__profil__img{
    width: 15%;
}

.comment__profile{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.comment__name{
    font-size: 1.2rem;
}

.comment__text{
    font-size: 1.2rem;
}

.send__comment{
    display: flex;
    align-items: center;
    gap: 20px;
}

.comment__input{
    background-color: transparent;
    color: var(--main-font-color);
    width: 100%;
    font-size: 1.2rem;
    border: none;
    border-bottom: 2px solid var(--sixth-color);
    resize: none;
    height: 1.3em;
}

.comment__input:focus{
    outline: none;
}

.send__button{
    background-color: var(--color-accent);
    color: var(--main-font-color);
    font-size: 1.5rem;
    font-family: var(--main-font);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
}

.send__button:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
